aws_region              = "Your aws_region"
project_name            = "simple-hello-world"
github_owner            = "Your github_owner name"
github_repo             = "Your github_repo name"
github_branch           = "main"
codestar_connection_arn = "Your codestar_connection_arn"
container_name          = "hello-world"
buildspec_path          = "buildspec.yml"
deployment_state_key    = "deployment/terraform.tfstate"